### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [13]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [14]:
#Total Number of Players

count = purchase_data_df["SN"].value_counts()
count

Lisosia93       5
Iral74          4
Idastidru52     4
Pheodaisun84    3
Hada39          3
               ..
Lisadar44       1
Frichaya88      1
Hariphos58      1
Alarap40        1
Undista85       1
Name: SN, Length: 576, dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Number of Unique Items - For Loop

#li = ["a", "a", "b", "c"]
li=purchase_data_df["Item Name"]
list_ABC= []  
for item in li: 
    #print(item)
    if item not in list_ABC:
        list_ABC.append(item)
#print(list_ABC)
len(list_ABC)

179

In [16]:
# Total Revenue 
Total_Revenue = 2379.77

total_revenue = purchase_data_df.sum(0,6)
print(total_revenue)

Purchase ID                                               303810
SN             Lisim78Lisovynya38Ithergue48Chamassasya86Iskos...
Age                                                        17717
Gender         MaleMaleMaleMaleMaleMaleMaleMaleMaleOther / No...
Item ID                                                    71569
Item Name      Extraction, Quickblade Of Trembling HandsFrenz...
Price                                                    2379.77
dtype: object

In [17]:
#Average Price Calculation

total_number_of_purchases = 780 
total_revenue = 2379.77
average_price =total_revenue /total_number_of_purchases
print(average_price)

3.0509871794871795

In [18]:
#Total Number of Purchases

#purchase_data_df.describe()
#print(type(purchase_data_df))
#print(purchase_data_df["Item Name"].dtypes)
print(type(purchase_data_df ["Item Name"]))
#print(type(purchase_data_df ["Price"][0]))
#purchase_data_df["Price"].mean()
purchase_data_df["Item Name"].count()

<class 'pandas.core.series.Series'>

780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [19]:
gender_purchase = purchase_data_df["Gender"].value_counts()


total_count_of_players = purchase_data_df['Gender'].count()
total_count_males = gender_purchase.at['Male']
total_count_of_females = gender_purchase.at['Female']
total_count_of_other_genders = gender_purchase.at['Other / Non-Disclosed']


male_percentage = (total_count_males / total_count_of_players) * 100
female_percentage = (total_count_of_females/ total_count_of_players)  * 100
other_percentage = (total_count_of_other_genders/ total_count_of_players)  * 100

print(gender_purchase)
print(male_percentage)
print(female_percentage)
print(other_percentage)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64
83.58974358974359
14.487179487179489
1.9230769230769231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
purchase_analysis = purchase_data_df.groupby(["Gender"]).sum() 
print(purchase_analysis)

#Calculating Average Purchase Price
male_total_purchase = 1967.64
female_total_purchase = 361.94
other_total_purchase = 50.19



male_average_purchase_price = male_total_purchase /total_count_males
female_average_purchase_price = female_total_purchase / total_count_of_females
other_average_purchase_price = other_total_purchase /total_count_of_other_genders
print(male_average_purchase_price)
print(female_average_purchase_price)
print(other_average_purchase_price)

#Purchase Count
purchase_count = purchase_analysis = purchase_data_df.groupby(["Gender"]).count()
print(purchase_count)

#ask about avg. purchase total per person etc

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14942    60698  1967.64
Other / Non-Disclosed         5019    363     1212    50.19
3.0178527607361967
3.203008849557522
3.3459999999999996
                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
# max age is 75 min is 7
#create Bins and lables 
bins_ages = [0, 9, 14, 19, 24, 29, 34, 39, 75]
array_of_ages = ["Under 10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39", "40+"]




#Adding "Age Ranges" Column

pd.cut(purchase_data_df["Age"], bins_ages , labels=array_of_ages)
purchase_data_df ["Age Ranges"] = pd.cut(purchase_data_df["Age"], bins_ages , labels=array_of_ages)
#purchase_data_df



#Grouping by "Age Ranges", getting counts, and avgs

age_group = purchase_data_df.groupby("Age Ranges")
#age_group

total_players = purchase_data_df ["Age Ranges"].count()

under_10_count = purchase_data_df.loc[purchase_data_df["Age Ranges"] == "Under 10", "Age Ranges"].count()


between_10_14 =purchase_data_df.loc[purchase_data_df["Age Ranges"] == "10-14", "Age Ranges"].count()

between_15_19 = purchase_data_df.loc[purchase_data_df["Age Ranges"] == "15-19", "Age Ranges"].count()

between_20_24 = purchase_data_df.loc[purchase_data_df["Age Ranges"] == "20-24", "Age Ranges"].count()

between_25_29 = purchase_data_df.loc[purchase_data_df["Age Ranges"] == "25-29", "Age Ranges"].count()

between_30_34 = purchase_data_df.loc[purchase_data_df["Age Ranges"] == "30-34", "Age Ranges"].count()

between_35_39 = purchase_data_df.loc[purchase_data_df["Age Ranges"] == "35-39", "Age Ranges"].count()

above_40 =  purchase_data_df.loc[purchase_data_df["Age Ranges"] == "40+", "Age Ranges"].count()



#Calculating percentages

per_under_10 = (under_10_count / total_players) * 100

per_between_15_19 = between_15_19 / total_players * 100

per_between_20_24 = between_20_24 / total_players  * 100

per_between_25_29 = between_25_29 /  total_players  * 100

per_between_30_34 = between_30_34 / total_players * 100

per_between_35_39 = between_35_39 / total_players * 100

per_above_40 = above_40 / total_players

print(per_under_10)
print(per_between_15_19)
print(per_between_20_24)
print(per_between_25_29)
print(per_between_30_34)


# #print(total_players)
# print(age_group["Age"].count())
# print(under_10_count)

2.9487179487179485
17.435897435897434
46.794871794871796
12.94871794871795
9.35897435897436

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80